---
layout: page
title: "Who am I?"
description: "Une piece du jeu de l'ego."
header-img: "img/lego-brain.png"
---
<hr>

{% for member in site.data.members %} {% if member.visible == true %}

	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">
	
	<h1>{{ member.name }}</h1>
	
	<h2>{{ member.role }}</h2>

	{% if member.email %}
	
		<a href="mailto:{{ member.email }}" Title="Email">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	
	{% endif %}

	{% if member.twitter_username %}
	
		<a href="https://twitter.com/{{ member.twitter_username }}" title="Twitter">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	
	{% endif %}
	{% if member.facebook_username %}
	
		<a href="https://www.facebook.com/{{ member.facebook_username }}" title="Facebook">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	
	{% endif %}
	{% if member.github_username %}
	
		<a href="https://github.com/{{ member.github_username }}">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-github fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	
	{% endif %}

	{% if member.gplus_username %}
	
		<a href="https://plus.google.com/+{{ member.gplus_username }}" title="Google+">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	
	{% endif %}
	
	{% if member.linkedin_username %}
	
		<a href="https://www.linkedin.com/in/{{ member.linkedin_username }}">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	
	{% endif %}
	
	{% if member.url %}
	
		<a href="{{ member.url }}" title="Homepage">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-home fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	
	{% endif %}
	
	{% if member.orcid_username %}
	
		<a href="https://orcid.org/{{ member.orcid_username }}" title="Orcid">
			<span class="fa-stack fa-lg">
				<!--<i class="fa fa-circle fa-stack-2x"></i>-->
				<i class="fa fa-stack-2x"><img src="{{ "/img/icons/id-icon.png" | prepend: site.baseurl }}" style="height:51px; padding-bottom:6px;"></i>
			</span>
		</a>
	
	{% endif %}
	
	</br>

	{% if member.bio %} 
	{{ member.bio }}
	{% endif %}
	
	<hr>

{% endif %}{% endfor %}

